.cart-message {
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 9px;
    text-align: center;
}

.cart-message .cart-message-icon{
    margin-bottom: 1.7rem;
}

.cart-message .cart-message-icon img{
    width: 105px;
    height: 85px;
    margin-right: auto;
    margin-left: auto;
}
